.lightGrayGrad {
    background-image: linear-gradient(rgba(248,249,250), white);
}

.lightBlueGrad {
    background-image: linear-gradient(aliceblue, white);
}

.justify {
    text-align: justify;
}

.card-body {
    height: 350px;
} 

a.btn {
    /* position: absolute;
    bottom: 0px; */
}