.lightGrayGrad {
    background-image: linear-gradient(rgba(248,249,250), white);
}

.lightBlueGrad {
    background-image: linear-gradient(aliceblue, white);
}

.justify {
    text-align: justify;
}

a.btn {
    /* position: absolute;
    bottom: 0px; */
}